<style type="text/css">

div.scrollmenu {
   
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu .scroll1 {
    display: inline-block;
    
    
    
    text-decoration: none;
}

div.scrollmenu .scroll1:hover {
    background-color: #777;
   
}
    .scroll1{
    margin-left: 20px;
        width: 20%;
        margin-bottom: 5px;
        border: 0.1px solid black;
    }
    .image-scroll1{
        width: 100%;
    }
    .text1{
        padding: 5px 5px;
    }
    
    </style>